
body {
    background-color: black;
    color: #D81621;
       
}
html {
    scroll-behavior: smooth; 
}

/* Container to hold both the image and the heading */
#header {
    display: flex ;
    align-items: center; /* This will align the text and image vertically in the center */
    /*position: fixed;*/
}
#header a {
    text-decoration: none; 
}
#gymName{
    margin-left: 30px;
    margin-right: 50px;
}

img {
    width: 84px;
    height: 65px;
    margin-right: 80px;
    margin-left: 85px; /* Add space between the logo and the heading */
}

h1 {
    text-align: left; /* Align text within the h1 */
    margin: 5px; /* Remove any default margin */
    font-size: 53px;
    color : white
    
}
h2{
    margin-left: 7px;
    font-size: 27px;
    margin: 20px;
    color: white;
}
h2:hover{
    color: rgb(214, 214, 214);
}
.signup1 {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px; 
}
.signup1:hover{
    background-color: #D81621;
}
.boxingmanimg{
    height: 85%;
    width: 95%;
    opacity: 0.7;
    position: relative;
    margin: 0%;
}
.container{
 position: relative;
 font-size: 100px;
 color: rgb(223, 223, 223); 
 overflow: hidden;
}
.firstmotto{
    /*position: absolute;
    top:5px;
    padding-left: 50px;
    margin-top: 5%;
    margin-left: 10%;
    background-image: linear-gradient(140deg, rgb(24, 24, 24), rgb(98, 98, 98),rgb(188, 188, 188));
    background-clip: text;
    color: transparent;*/

   /*CODE GIVEN BY THE AI */
   position: absolute;
   bottom: 29rem;
   left: 14rem;
   font-size: 5rem;
   font-weight: bold;
   background-image: linear-gradient(140deg,rgb(21, 21, 21), rgb(146, 146, 146), rgb(179, 179, 179), rgb(255, 255, 255));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}
#motivationslider{
  background-color: #D81621;
  position: relative;
  height: 114px;
  width: 1rem;
  bottom: 32rem;
  left: 57rem;
}
#info1{
   
}
#text1{
    font-size: 3rem;
    position: absolute;
    top: 61rem;
    bottom: 43rem;
    left: 60rem;
    color: aliceblue; 
    font-weight: bold   
}
#text2{
    font-size: 38px;
    position: absolute;
    top: 70rem;
    bottom: 43rem;
    left: 57rem;
    color: aliceblue;
    text-align: left;
    padding-right: 5%;
}
.signup2{
    color: aliceblue;
    background-color: #ff121d; 
    position: absolute;
    top: 92rem;
    left: 57rem;
    font-size: 25px;
    padding: 16px; 
    border-radius: 5px;      
}
.signup2:hover{
    background-color: #D81621;
}
.girlingymimg{
    height: 520px;
    width: 45%;
    padding-left: 4%;
    margin-top: 58px;
    margin-left: 58px;
    margin-right: 0%;
    border-radius: 10vh;
    
}
.fotter-text1{
    color: aliceblue;
    position: relative;
    top: 40rem;
    font-size: 4rem;
    padding-left: 8rem;
}
.fotter-text2{
    color:aliceblue;
    position: absolute;
    display: flex;
    top: 153rem;
    font-size: 45px;
    padding-left: 8rem;
}
.fotter-text2 a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.fotter-text2 a:hover {
    color: rgb(201, 207, 213);
}

.fotter-text3{
    color: aliceblue;
    position: absolute;
    display: flex;
    left:72rem;
    top:151rem;
    font-size: 30px;
    padding-right: 8rem;
    line-height: 3rem
    
    
}
.fotter-text4{
    color: aliceblue;
    position: absolute;
    display: flex;
    left:70rem;
    top:154rem;
    font-size: 30px;
    padding-right: 8rem;
}

.fotter-text3:hover{
    color: rgb(201, 207, 213);
}
.fotter-text4:hover{
    color: rgb(201, 207, 213);
}
.highlight{
    color: rgb(218, 0, 0);
    font-weight: bolder;
}
.icons{
    position: relative;
}
.icons-position{
    position: absolute;
    left: 72rem;
    top: 28rem;
    right: 0rem;
    
}
.fa-brands.fa-instagram.fa-4x{
    color: aliceblue;
    margin-right: 28px;
}  
.fa-brands.fa-instagram.fa-4x:hover{
    color: rgb(184, 184, 184);
}  
.fa-brands.fa-square-facebook.fa-4x{
    color: aliceblue;
    margin-right: 28px;
}
.fa-brands.fa-square-facebook.fa-4x:hover{
    color: rgb(184, 184, 184);
}
.fa-brands.fa-x-twitter.fa-4x{
    color: aliceblue;
    margin-right: 28px;
}
.fa-brands.fa-x-twitter.fa-4x:hover{
    color: rgb(184, 184, 184);
}
.fa-solid.fa-arrow-up.fa-5x{
    color: aliceblue;
    position: absolute;
    left: 20rem;
    top: 3rem;
    
}