    body {
        background-color: black;
        color: #D81621;
    }

    html {
        scroll-behavior: smooth; 
    }

    /* Container to hold both the image and the heading */
    #header {
        display: flex;
        align-items: center; /* This will align the text and image vertically in the center */
    }

    #header a {
        text-decoration: none;
    }

    #gymName {
        margin-left: 1.875rem;  
        margin-right: 3.125rem; 
    }

    img { /* This is the logo */
        width: 5.25rem;   
        height: 4.0625rem; 
        margin-right: 5rem; 
        margin-left: 5.3125rem; 
    }

    /* Text Styles */
    h1 {
        text-align: left;
        margin: 0.3125rem; 
        font-size: 3.3125rem; 
        color: white;
    }

    h2 {
        margin-left: 0.4375rem;
        font-size: 1.6875rem; 
        margin: 1.25rem; 
        color: white;
    }

    /* Sign Up Button */
    .signup1 {
        background-color: red;
        color: white;
        padding: 0.3125rem 0.625rem;
        border-radius: 0.3125rem; 
    }

    .signup1:hover {
        background-color: #D81621;
    }
    .center-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
    .red-box{
        background-color: rgb(196, 11, 21);
        width: 70rem;
        height: 67rem;
        border-radius: 2rem;
        box-shadow: 10px 20px 30px 1rem rgb(159, 0, 0) inset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .map{
        margin-top: 0%;
        border-radius: 2rem;
    }
    .info1{
        color: aliceblue;
        font-size: 3rem;
        text-align: center;
        margin:0%;
    }
    .info2{
        color: aliceblue;
        font-size: 5vh;
        text-align: center;
        margin: 0.6%;
    }

    .contacts{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }
    .info3{
        color: aliceblue;
        font-size: 5vh;
    }
    .contact1{
        text-align: center;
        margin: 0%;
        border-color: aliceblue;
        border-radius: 2rem;
        border-style: solid ;
        padding: 0.7vw;
        background-color: rgb(255, 255, 255, 0.2);
    }
    .info4{
        color: aliceblue;
        font-size: 5vh;
        text-align: center;
    }
    .contact2{
        text-align: center;
        margin: 0%;
        border-color: aliceblue;
        border-radius: 2rem;
        border-style: solid ;
        padding: 0.7vw;
        background-color: rgb(255, 255, 255, 0.2);
    }
    /* Footer Text */
.fotter{
    display: flex;
    justify-content: space-between;
}
.fotter-left{
    justify-content:flex-start ;
    flex-direction: column;
    margin-left: 4rem;
}
.fotter-right{
    
    justify-content:flex-end ;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 4rem;
    line-height: 0%;
}
.fotter-text1 {
    color: aliceblue;
    font-size: 4rem;
    /*display: flex;
    justify-content: flex-start;
    align-items: flex-end;*/
    margin: 0%;
}

.fotter-text2 {
    color: aliceblue;
    font-size: 2.8125rem; /* 45px */
    margin: 0%;
}

.fotter-text3, .fotter-text4{
    color: aliceblue;
    font-size: 1.875rem; /* 30px */
    text-align: center;
    line-height: 1.4rem;
}
.fotter-text2 a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.fotter-text2 a:hover {
    color: rgb(201, 207, 213);
}

.fotter-text3 a, 
.fotter-text4 a {
    text-decoration: none;
    font-weight: normal;
}

.fotter-text3:hover,
.fotter-text4:hover {
    color: rgb(201, 207, 213);
}

/* Highlighted Text */
.highlight {
    color: rgb(218, 0, 0);
    font-weight: bolder;
}

/* Terms and Conditions */
.t-c {
    font-size: 1.7rem; 
    color: aliceblue;
}
.terms{
    font-size: 3rem;
}
/* Social Media Icons */
.icons {
    display: flex;
    justify-content: flex-end;
}

/* Font Awesome Icons */
.fa-brands.fa-instagram.fa-3x,
.fa-brands.fa-square-facebook.fa-3x,
.fa-brands.fa-x-twitter.fa-3x {
    color: aliceblue;
    padding-left:1.5rem ;
}

.fa-brands.fa-instagram.fa-3x:hover,
.fa-brands.fa-square-facebook.fa-3x:hover,
.fa-brands.fa-x-twitter.fa-3x:hover {
    color: rgb(184, 184, 184);
}

/* Arrow Icon */
.fa-solid.fa-arrow-up.fa-4x {
    color: aliceblue;
    margin-left: 2rem;
}
.fa-solid.fa-arrow-up.fa-4x:hover {
    color: rgb(184, 184, 184);
}